@{ var useStaticPlaceholderNames = ViewBag.RenderingParameters == null || ViewBag.RenderingParameters.UseStaticPlaceholderNames != true; }
<div class="container@(ViewBag?.RenderingParameters?.IsFluid == true ? "-fluid" : "" )">
  <div class="row">
    <div class="col-md-8">
      <cms-placeholder name="col-wide-1" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
    <div class="col-md-4">
      <cms-placeholder name="col-narrow-1" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
  </div>
</div>