@{ var useStaticPlaceholderNames = ViewBag.RenderingParameters == null || ViewBag.RenderingParameters.UseStaticPlaceholderNames != true; }
<div class="container@(ViewBag?.RenderingParameters?.IsFluid == true ? "-fluid" : "" )">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <cms-placeholder name="col-narrow-1" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
    <div class="col-md-2 col-sm-6">
      <cms-placeholder name="col-narrow-2" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
    <div class="col-md-4 col-sm-6">
      <cms-placeholder name="col-narrow-3" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
    <div class="col-md-4 col-sm-6">
      <cms-placeholder name="col-narrow-4" isdynamic="@(!useStaticPlaceholderNames)" />
    </div>
  </div>
</div>