<section class="section section-full">
    <cms-placeholder name="section" isdynamic="@(ViewBag.RenderingParameters == null || ViewBag.RenderingParameters.UseStaticPlaceholderNames != true)" />
</section>